@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&family=Space+Grotesk:wght@500;600;700&display=swap');
 
:root {
  --font-body: 'Manrope', sans-serif;
  --font-heading: 'Space Grotesk' , sans-serif;
}

body {
  font-family: var(--font-body);
  font-weight: 400;
  line-height: 1.7;
  color: #1f2937;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  font-weight: 600;
  letter-spacing: -0.02em;
  /* color: #0F2A44; */
}
